BBB_LeNet/__pycache__/
DET_LeNet/__pycache__/
MNIST/
VDP_LeNet/__pycache__/
__pycache__/
venv/
.vscode/
captum/
models_same_batchsize/
pruned_models/
cifar-10-python.tar.gz
cifar-10-batches-py/
VDP_ResNet/lightning_logs/
VDP_ResNet/cifar-10-python.tar.gz
VDP_ResNet/cifar-10-batches-py/
lightning_logs/
wandb/
DO_NOT_DELETE/
Archive
medical_vdp_resnet18/
models/cifar_models/det_ResNet_5.pt
resnet18_det/
vdp_med_easy_ideal/
vdp_resnet18/1cqqwlhm/
vdp_resnet18_ideal_params/
vdp_resnet18_modified_skip_connection/